/* GENERAL STYLES - START*/

* {
    box-sizing: border-box;
}

body {
    font-family: "lato", sans-serif;
    color: #291;
    margin: 0;
    font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}



/* GENERAL STYLES - END  */

nav#main-nav {
    position:fixed;
    background-color: darkred;
    top: 0;
    right: 0;
    width: 100%;
}

nav#main-nav > ul {
    float: right;
    margin: 0;
}

nav#main-nav > ul > li {
    display: inline-block;
    padding: 0px 20px 40px;
}

nav#main-nav > ul > li > a {
    text-decoration: none;
    color: #1ac056;
    font-weight: 300;
}

nav#main-nav > ul > li a:hover {
    color: #291f1a;
}


/* MAIN HEADER - START */

header#main-header {
    background-image: url("../img/header-background.jpg");
    background-position: relative;
    background-size: cover;
    position: relative;
}

header#main-header .main-header-content {
    padding: 30vh;
    text-align: center;
}

header#main-header .main-header-content h1 {
    font-size: 4em;
    font-weight: 300;
    font-family: "roboto", sans-serif;
}

header#main-header .main-header-content h2 {
    font-size: 2em;
    font-weight: 200;
}


/* MAIN HEADER - END */


/* ABOUT ME - START*/

section#about {
    background-color: #f9fcfe;
    overflow: hidden;
}

section#about > figure {
    text-align: center;
    margin:0;
    margin-right: 30px;
    float: left;
    
}

section#about > figure > img {
    border: 14px solid #fff;
    border-radius: 15px;
    max-width: 100%;
    max-height: 350px;
    
}

/* SKILLS - START */

section#skills {
    text-align: center;
}

section#skills > p {
    text-align: center;
}

section#skills #kills-icons figure {
    display: inline-block;
}

section#skills #skills-icons figure figcaption {
    text-transform: uppercase;
}

/* SKILLS - END */